paper-spinner.blue::shadow .circle {
  border-color: #4285f4;
}

:host {
  display:block;
  width:100%;
  overflow:auto;
  margin:20px;
  padding:10px;
}

input {
    border: none;
    background: transparent;
    font: inherit;
    font-size: 16px;
    outline: none;
}

core-toolbar {
  background:#efefef;
}

.item {
  margin-bottom:10px;
  margin-left:10px;
  padding:10px;
  min-width:200px;
}

