<div class="row">
 <div class="page-header">
  <h2>บริการ</h2>
 </div>
</div>

<div class="row">
 <div class="col-md-6">
  <div class="row">
   <div class="panel panel-default" ng-show="person">
    <div class="panel-heading">ผู้รับบริการ</div>
    <div class="panel-body">
     <div>{{person.CID}} {{person.FirstName}} {{person.LastName}}
     </div>
    </div>
   </div>
  </div>
  <div class="row">
   <div class="panel panel-default" ng-show="person">
    <div class="panel-heading">แบบบันทึก</div>
    <div class="panel-body" >
      <ol>
        <li ng-repeat="form in system.forms">
          <a ng-href="#/form/{{person.CID}}/{{form.FID}}">
          {{form.FDesc}}
         </a>
        </li>
     </div>
      </ol>
    </div> 
   </div>
  </div>
 </div>

</div>
