.row
  .page-header
    %h2 Service

.row
  .col-md-5
    .row
      .panel.panel-default{ng-show:"person"}
        .panel-heading 
          {{person.CID}} {{person.FirstName}} {{person.LastName}}
        .panel-body 
          %ol
            %li{ng-repeat:"form in formTemplates"}
              %a{ng-click:"selectFormTemplate(form)"} 
                {{form.name}}
              %ul
                %li{ng-repeat:"filledForm in form.filledForms"}
                  %a{ng-click:"selectForm(filledForm)"} 
                    {{filledForm.createdDate | date:"dd-MM-yyyy"}}
                %li{ng-show:"form.filledForms.length >= 0"}
                  %a{ng-click:"createForm(form)"} 
                    Create New
    .row{ng-show:"form"}
      .panel.panel-default
        .panel-heading {{form.name}}
        .panel-body
          %ol
            %li{ng-repeat:"part in form.parts"}
              {{part.name}}
              %ul
                %li{ng-repeat:"questionnaire in part.questionnaires"}
                  %a{ng-click:"selectQuestionnaire(questionnaire)"} {{questionnaire.name}}
          %button.btn.btn-default{ng-click:"save()"} บันทึก
          %button.btn.btn-default{ng-click:"deleteForm(form)"} ลบทิ้ง
          %p.text-right Last updated : {{form.updatedDate}}

  .col-md-7
    .row{ng-show:"questionnaire"} 
      .col-md-12
        {{questionnaire.name}}
        %span{ng-repeat:"question in questionnaire.questions"}
          %span{ng-if:"question.type=='checkbox'"}
            .checkbox
              %label
                != '<input type="checkbox" ng-model="question.value"> {{question.label}}'
          %span{ng-if:"question.type=='radio'"}
            .radio{ng-repeat:"choice in question.choices"}
              %label
                != '<input type="radio" ng-model="question.value" ng-value="choice.value"> {{choice.label}}'
          %span{ng-if:"question.type=='textarea'"}
            %textarea.form-control{ng-model:"question.value",placeholder:"{{question.label}}"}
          %span{ng-if:"question.type=='text'"}
            .form-group
              %label {{question.label}}
              %input.form-control{ng-model:"question.value"}
                  
        
        
    
