<ons-page ng-controller="person.controller.search">
  <ons-toolbar>
    <div class="center">Person</div>
  </ons-toolbar>

  <ons-list modifier="inset" style="margin-top: 10px">
    <ons-list-item>
      <input type="text" ng-model="query" class="text-input text-input--transparent" 
         placeholder="บัตรประชาชนหรือชื่อ" style="width: 100%">
    </ons-list-item>
  </ons-list>

  <div style="padding:10px 9px">
    <ons-button modifier="large" style="margin:0 auto;" ng-click="search()">
      ค้นหา
    </ons-button>
  </div>
</ons-page>
