<address>
<span ng-show="address.HouseNumber">
  {{address.HouseNumber}}
</span>
<span ng-show="address.MooNumber">
 หมู่ที่ {{address.MooNumber}}
</span>
<span ng-show="address.StreetName">
  ถ.{{address.StreetName}}
</span>
<span ng-show="address.Alley">
 ซ.{{address.Alley}}
</span>
<br>
<span ng-show="address.village">
 หมู่บ้าน {{address.village.VillageName}}
 <br>
</span>
<span ng-show="address.tumbon">
 ต.{{address.tumbon.TumbonDescription}}
</span>
<span ng-show="address.city">
 อ.{{address.city.CityDescription}}
</span>
<br>
<span ng-show="address.province">
 จ.{{address.province.ProvinceDescription}}
</span>
<span ng-show="address.PostCode">
 {{address.PostCode}}
</span>
</address>
