<div class="container-fluid">

<div class="row">
 <div class="col-md-12">
  <div class="input-group">
   
   <input type="text" ng-model="query" class="form-control" 
      placeholder="เลขประจำตัวประชาชน หรือ  ชื่อ">
   <span class="input-group-btn">
    <button class="btn btn-primary" type="button" ng-click="search(query)">
      <i class="fa fa-search"></i> ค้นหา
    </button>
   </span>
  </div>
 </div>
</div>

<!-- Controller -->

<div class="row">
 <div class="col-xs-12" align="center">
  <pager total-items="total_page" ng-model="page" num-pages="numPages"></pager>
  <pre>Page: {{page}} / {{numPages}} </pre>
 </div>
</div>


<div class="row">
 <div class="col-md-12">
 <div class="list-group">
  <a href="#/person/{{person.id}}" class="list-group-item" ng-repeat="person in people">
   {{person.CID}} {{person.FirstName}} {{person.LastName}}
  </a>
 </div>
 </div>
</div>

</div>
